// app-list: responsive grid of app buttons

/**
 * Page content
 */
.app-list-container {
  padding: $spacing-unit 0 0;
  clear:both;
  display: grid;
}

.app-list {
  margin-left: 0;
  list-style: none;

  >li {
    display: block;
    margin-bottom: calc($spacing-unit / 2);

    .app-list-link {
      display: grid;
      grid-template-columns: 1fr 3fr;

      background-color: $background-color-light;
      font-size: 16px;
      color: $text-color;
      text-align: center;
      border-radius: $spacing-unit / 2;
      border:1px solid $brand-color;


      &:visited {
        color: $text-color;
      }

      &:hover {
        color: $text-color;
        text-decoration: none;
        background-color: $background-color-light-more;
      }

      &:active {
        color: $text-color;
        text-decoration: none;
        background-color: $background-color-light-more;
      }
    }

    div.app-list-show-image {
      display: block;
      width: 100%;
    }

    div.app-list-title {
      color: $text-color;
      height: 60px;
      line-height: 24px;
      font-size: $base-font-size * 1.2;
      margin: calc($spacing-unit / 2);
    }
  }
}


@media screen and (min-width: 480px) {
  .app-list {
    margin-left: 0.5%;

    >li {
      margin-bottom: $spacing-unit;
      width: 50%;
      float: left;

      .app-list-link {
      display: grid;
      grid-template-columns: 1fr 2fr;
        margin-left: calc($spacing-unit / 2);
        margin-right: calc($spacing-unit / 2);
      }

      div.app-list-show-image {}

      div.app-list-title {
        color: $text-color;
        line-height: 24px;
        font-size: $base-font-size * 1.2;
        margin: calc($spacing-unit / 2);
        text-align: left;
      }
    }
  }
}
@media screen and (min-width: 1240px) {
  .app-list {
    margin-left: 0.5%;

    >li {
      margin-bottom: $spacing-unit;
      width: 25%;
      float: left;

      .app-list-link {
        display: flex;
      flex-direction: column;
        margin-left: calc($spacing-unit / 2);
        margin-right: calc($spacing-unit / 2);
      }

      a.app-list-link:hover {}

      div.app-list-show-image {
        position: relative;
        display: block;
        width: 100%;
        height:160px;
        img {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -130px);
        }

      }

      div.app-list-title {
        text-align: center;
      }

      div.app-list-info {
        position: absolute;
        width: 80%;
        bottom: 0;
        margin-left: calc($spacing-unit / 4);
      }
    }
  }
}